/* fonts woot */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	font-family: "Open Sans", "Ubuntu", "Helvetica", "Arial", sans-serif;
}

body {
	margin: 2% 20%;
	background: #d1d4cb;
}

/* and resizing... */

@media (max-width: 1280px) {
	body {
		margin: 2% 10%;
	}
}

@media (max-width: 560px) {
	body {
		margin: 2% 1em;
	}
}

nav {
	background: rgba(32, 32, 32, 0.8);
	color: white;
	padding: 0.5em
}

a {
	color: inherit
}

#title {
	font-weight: 600;
}

#output {
	padding: 0.5em;
	background: #ffffffc4;
}

#character-inputs {
	margin: 0 -5%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.center-wrapper {
	display: flex;
	justify-content: center;
}

.character {
	width: calc(90%/6.5);
}

/* colors taken from Love. <3 https://love.holllo.cc/ */
.char-1 {
	background: #F99FB180;
}

.char-2 {
	background: #FAA56C80;
}

.char-3 {
	background: #D2B83A80;
}

.char-4 {
	background: #96C83980;
}

.char-5 {
	background: #41C8E580;
}

.char-6 {
	background: #D5A6F880;
}
