/* fonts woot */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400600&display=swap")

html
	font-family: "Open Sans", "Ubuntu", "Helvetica", "Arial", sans-serif
	font-size: 16px
	box-sizing: border-box


h1
	margin: 0.5em 0 0.5em


/* colors, taken from the Love Theme (https://love.holllo.cc), version 0.1.0, under the MIT license. <3 */
:root
	--bg-primary: #F2EFFF
	--bg-secondary: #E6DEFF
	--fg-primary: #1F1731
	--fg-secondary: #2A2041

	--accent-1:#F99FB1
	--accent-2:#FAA56C
	--accent-3:#D2B83A
	--accent-4:#96C839
	--accent-5:#3BD18A
	--accent-6:#3ECDBF
	--accent-7:#41C8E5
	--accent-8:#98B9F8
	--accent-9:#D5A6F8
	--accent-10:#F99ADD

	--gray-1: #E2E2E2
	--gray-2: #C6C6C6
	--gray-3: #ABABAB

	--rainbow-gradient: linear-gradient(to right, var(--accent-1), var(--accent-2), var(--accent-3), var(--accent-4), var(--accent-5), var(--accent-6), var(--accent-7), var(--accent-8), var(--accent-9), var(--accent-10))

@media (prefers-color-scheme: dark)
	:root
		--bg-primary: #1F1731
		--bg-secondary: #2A2041
		--fg-primary: #F2EFFF
		--fg-secondary: #E6DEFF
		--accent-1: #8B123C
		--accent-2: #6A3B11
		--accent-3: #514610
		--accent-4: #384D10
		--accent-5: #115133
		--accent-6: #124F49
		--accent-7: #144D5A
		--accent-8: #17477E
		--accent-9: #6F1995
		--accent-10: #81156A
		--gray-1: #1B1B1B
		--gray-2: #303030
		--gray-3: #474747

// sass variables, for sassy reasons.
$accent-1:#F99FB180
$accent-2:#FAA56C80
$accent-3:#D2B83A80
$accent-4:#96C83980
$accent-5:#3BD18A80
$accent-6:#3ECDBF80
$accent-7:#41C8E580
$accent-8:#98B9F880
$accent-9:#D5A6F880
$accent-10:#F99ADD80


body
	margin: 2% 20%
	background: var(--bg-primary)
	color: var(--fg-primary)


/* resizing margins based on display width... */
@media (max-width: 1280px)
	body
		margin: 2% 10%

@media (max-width: 560px)
	body
		margin: 2% 1em
	nav > a
		display: none

nav
	background: var(--fg-secondary)
	color: var(--bg-primary)
	padding: 0.5em
	opacity: 0.8
	display: flex
	flex-wrap: nowrap
	justify-content: space-between

a
	color: inherit

/* the little text in the top bar. */
#title
	font-weight: 600

/* the output box */
#output
	padding: 0.5em
	background: var(--bg-secondary)
	border: 2px var(--gray-2) solid


/* this exists to center the button. */
.center-wrapper
	display: flex
	justify-content: center


/* the div containing the character input boxes. */
#character-inputs
	display: flex
	margin: 0 -2.5% 1em
	justify-content: space-evenly
	text-align: center
	flex-wrap: wrap


/* the character input boxes themselves. */
.character
	padding: 0.2em
	max-width: 20%
	margin: 0.2em


/* style the things so they don't look like windows 98 */
button, input
	font-size: 1em

input
	border: 2px var(--gray-2) solid
	color: var(--fg-primary)
	&:disabled
		opacity: 0.5


button
	border: 0
	background: #E6DEFFDF

	&:hover
		background: #E6DEFFC4

	&:active
		background: #FFFFFF96


br
	/* wow this is (probably) awful */
	margin-bottom: 0.25em


/* colors taken from Love. <3 https://love.holllo.cc/ */
.char-1
	background: $accent-1

.char-2
	background: $accent-2


.char-3
	background: $accent-3


.char-4
	background: $accent-4


.char-5
	background: $accent-5

.char-6
	background: $accent-6

.char-7
	background: $accent-7

.char-8
	background: $accent-8

.char-9
	background: $accent-9

.char-10
	background: $accent-10


/* rainbow... thing. thanks css-tricks (https://css-tricks.com/gradient-borders-in-css/) */
.rainbow-wrapper
		background: var(--rainbow-gradient)
		padding-top: 0.2em

